@font-face {
  font-family: NinjaFont;
  src: url("./blame-z15z-webfont.woff");
}

#container {
  display: grid;
  grid-template-columns: 80px 80px 80px;
  grid-template-rows: 80px 80px 80px;
  column-gap: 10px;
  row-gap: 10px;
}
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
#container > div {
  background-color: red;
  cursor: pointer;
}

#box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: NinjaFont, Arial, Helvetica, sans-serif;
  border: 0.5px black solid;
  font-size: 40px;
}

.modal-header {
  border-bottom: none !important;
}

.modal-footer {
  border-top: none !important;
}
#turn {
  margin-bottom: 10px;
  font-family: cursive;
}
#clearBtn {
  margin-top: 15px;
}
